<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body id="groups-detail">
    <nav class="visible"><%- include('../partials/nav'); %></nav>

    <header class="page-header" id="#strawberry">
      <div class="skewed-top"></div>

      <div data-jarallax data-speed=".5" class="skewed-container jarallax">
        <img class="jarallax-img" src="assets/strawberrries.jpg" alt="strawberries background image" />
        <div class="content">
          <h2><%= name.toUpperCase() %></h2>
        </div>
      </div>

      <div class="skewed-endcap"></div>
    </header>

    <main class="content-page">
      <section class="margined">
        <a class="goback" href="javascript:history.back()">
          <span class="arrow">‹</span>
          Go Back
        </a>
        <div class="content">
          <div class="masonry">
            <!-- width of .masonry-sizer used for columnWidth -->
            <div class="masonry-sizer"></div>

            <% if (locals.img) { %>
              <% for (let url of img) { %>
                <div class="masonry-item">
                  <img class="img-full" src="assets/groups/<%= group %>/<%= url %>" alt="picture of group" />
                </div>
              <% } %>  
            <% } %>

            <% if (locals.people) { %>
              <div class="masonry-item masonry-item--full">
                <h3>People</h3>
                <div class="list">
                  <% for (let person of people) { %>
                    <p><%= person %></p>
                  <% } %>  
                </div>
              </div>
            <% } %>

            <% if (locals.mens_coaches) { %>
              <div class="masonry-item masonry-item--full">
                <h3>Men's Coaches</h3>
                <div class="list">
                  <% for (let person of mens_coaches) { %>
                    <p><%= person %></p>
                  <% } %>  
                </div>
              </div>
            <% } %>

            <% if (locals.womens_coaches) { %>
              <div class="masonry-item masonry-item--full">
                <h3>Women's Coaches</h3>
                <div class="list">
                  <% for (let person of womens_coaches) { %>
                    <p><%= person %></p>
                  <% } %>  
                </div>
              </div>
            <% } %>

            <% if (locals.mens_members) { %>
              <div class="masonry-item masonry-item--full">
                <h3>Men's Members</h3>
                <div class="list">
                  <% for (let person of mens_members) { %>
                    <p><%= person %></p>
                  <% } %>  
                </div>
              </div>
            <% } %>

            <% if (locals.womens_members) { %>
              <div class="masonry-item masonry-item--full">
                <h3>Women's Members</h3>
                <div class="list">
                  <% for (let person of womens_members) { %>
                    <p><%= person %></p>
                  <% } %>  
                </div>
              </div>
            <% } %>
          </div>
        </div>
      </section>
    </main>

    <footer><%- include('../partials/footer'); %></footer>

    <script src="js/imagesloaded.js"></script>
    <script src="js/masonry.js"></script>
    <script src="https://unpkg.com/jarallax@2.0"></script>
    <script src="js/nav.js"></script>
    <script src="js/groups-detail.js"></script>
  </body>
</html>
